.Shuttlebook_List {
    text-align: center;
   margin-bottom: -20px;
   margin-top: -40px;
  }
  .li{
    display: inline;
    border: 1px solid rgb(147, 171, 118);
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    color:rgb(255, 162, 96);
    display: table-cell;
    width: 210px;
    height:auto;
  text-align: center;
  }
  
  .ul{
    margin-top:0;
    height: 40px;
  align-self: center;
  }
  .background1 {
    background-image: url(../../Assets/bookingpageuser.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    
    background-position: flex;
   
  }
  
  .container2 {
    background-color: #000;
    opacity: .8;
    align-items: center;
    
  }
  
  .heading{
    
    text-align: center;
    font-weight:bolder;
    font-size: 60px;
   
    text-decoration-line:underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(221, 223, 216);
    
  }
  