.container {
    margin: 0 auto;
    background-color: #3d444b;
    background-size: cover;
    width: 100%;
    margin: auto;
    max-height: 10s0px;
    border: 0.1px;
    padding: 1%;
  }
  
  .navbarlogo {
    max-width: 35%;
    margin-bottom:1. 0%;
  }
  .navmenubtn {
    display: inline;
    color: #0a3d62;
    padding: 0.2em 1em;
    font-size: 2.0rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    width: 100px;
    margin: 0px 0px 65px 0px;
    margin-top: -10px;
  }
  
  .li {
    display: inline;
  }
  .navul {
    display: inline;
    list-style-type: none;
    position: left;
    background-color: #3d444b;
    align-items: center;
    background-size: cover;
    width: 100%;
    max-height: 60px;
  }
  
  .navbarli {
    display: inline;
    color: #afb8bf;
    padding: 0.2em 1em;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    width: 150px;
    
   
  }
  .navbarlilogout {
    display: inline;
    color: #afb8bf;
    padding: 0.2em 1em;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(83, 48, 48);
    border: 1px solid transparent;
    width: 150px;
    margin: 0px 0px 65px 0px;
    margin-top: -30px;
    border-radius: 10px;
    
  }
  
  .navmenulogobtn:hover {
    opacity: 0.5;
  }
  
  .navmenuli:hover {
    opacity: 0.5;
  }
  
  .navmenulilogout:hover {
    transform: translateY(-30px);
  background-color: #a6421d;
  }
  
  .nounderline {
    text-decoration: none;
  }
  