
  .footercontainer{
    background-image: url(../../../src/Assets/BG-1.png);
    padding: 4rem 0 2rem 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    opacity: 0.9;
    background-color:rgb(0, 0, 0);
    max-height: 520px;
    }
    .footercontainer:hover{
      background-color: #16171d;
  
    }
    .footersub{
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      text-align: center;
   margin-bottom: 24px;
      padding: 24px;
      color:#fff;
    }
    .footersub{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    }
    .footersubheading{
      margin-bottom: 24px;
      font-size:24px;
  
    }
    .footersubheading:hover{
      margin-bottom: 24px;
      font-size:24px;
      color:rgba(46, 46, 44, 0.94);
    }
    .footersubtext{
      margin-bottom: 24px;
      font-size:24px;
    }
    .footerinput{
      padding:8px 20px;
      border-radius:2px;
      margin-right:10px;
      outline:none;
      border:none;
      font-size: 16px;
      margin-bottom: 16px;
      border: 1px solid #fff;
    }
    .footerinput:hover{
      padding:8ox 20px;
      border-radius: 2px;
      margin-right: 10px;
      outline:none;
      border:none;
      font-size: 18px;
      margin-bottom: 16px;
      border: 1px solid rgb(198, 198, 192);
      background-color:rgb(198, 198, 192) ;
  
    }
   .footerlink{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
   } 
    .footerlinkwrapper{
      display: flex;
    }
    .footerbtn{
      padding:1px 4px;
      border-radius: 2px;
      margin-right: 10px;
      color:white;
      width: 100px;
      height: 40px;
      background-color: var(--primary);
      background-color: transparent;
      border:2px solid white;
      transition: all 0.3s ease-out;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
   margin-bottom: 10px;
      
    }
    .footerbtn:hover{
      padding:1px 4px;
      border-radius: 2px;
      margin-right: 10px;
      outline:none;
      border:none;
      font-size: 18px;
      margin-bottom: 16px;
      border: 1px solid rgb(198, 198, 192);
      background-color:rgb(198, 198, 192) ;
    }
    .footerlinkitem{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 16px;
      text-align: left;
      width: 160px;
      box-sizing: border-box;
    }
    .footerlinkitem h2{
      margin-bottom: 16px;
    }
    .footerlinkitem > h2{
    color:#fff;
    }
    .footerlinkitem a{
      color:#fff;
      text-decoration: none;
      margin-bottom: 0.5rem;
    }
    .footerlinkitem a:hover{
      color: rgb(119, 116, 100);
      transition: 0.3s ease-out;
    }