.background{
  background-image: url(../../Assets/Adminpage.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 700px;
  background-position: flex;
}
.Container {
  min-height: 768px;
  background-color: #000;
  opacity: .7;
  padding:2%;
  display: flex;
  min-width: 900px;
}
  
  .inputbox {
    padding: 7px;
    display: inline;
    border: 1px solid rgb(61, 63, 64);
    background: #3c1361;
    width: 250px;
    height: 50px;
    margin: 20px;
    align-items: center;
    border-radius: 10px;
    color: azure;
    font-size: 20px;
    font-weight: 700;
  }
  .button {
    width: 150px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    padding: 12px 0px;
    background: orange;
    border-radius: 10px;
    margin-left: 18px;
    margin-top: 0px;
    font-family: serif;
    margin: 20px;
  }
  .button:hover {
    background-color:rgba(255, 166, 0, 0.7);
  }
  .h1 {
    text-align: center;
    text-decoration: wavy underline;
    font-family: cursive;
    color: #3c1361;
  }
  .Item_List {
    text-align: center;
    margin-top: 50px;
  }

  /*list*/
  .li{
    display: inline;
    border: 1px solid rgb(147, 171, 118);
    font-size: 20px;
    font-weight: 10px;
    padding: 6px;
    color:aliceblue;
    display: table-cell;
    width: 200px;
    height:auto;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
  }
  
  
  .ul{
    margin-top:0px;
    height: 45px;
    display:flex;
    margin-bottom: 0px;
  }
  
  
  
  .btn{
   
   color: rgb(255, 255, 255);
   font-weight: 300px;
  
    background-color: rgb(109, 100, 100);
    border-radius: 4px;
    height:30px
  }
  .btn:hover{
    transform: translateY(-10px);
    background-color: #beb0ab;
  }
  
  
  